
.project-name {
    font-weight: 600;
    margin-bottom: 10px;
}

.project-banner {
    max-height: 200px;
}

.project-description {
    text-align: justify;
    margin-bottom: 100px;
}

p {
    margin-bottom: 20px;
}