<h2>Career objectives</h2>

<p>
    Senior Software Engineer with a focus on mobile and .NET development with 10+ years in the industry. A polyglot
    programmer well versed in all aspects of the software development lifecycle, architecting and building B2B & B2C
    apps capable of supporting sustained high numbers of daily active users with quality user-friendly solutions.
</p>

<p>
    Passionate in helping others strive; seeking ways to make colleagues succeed through custom tools, mentorship and
    technical talks; member with a co-organiser role at the local .NET user group.
</p>