<h2>Career objectives</h2>

<p>
I have a career that drives me to succeed and learn everyday, now I wish to further this by incorporating all the knowledge and skills I have acquired, to do something I enjoy and will work hard at.
</p>

<p>
As a Xamarin Certified developer, I have built up a range of development experience including, but not limited to, Xamarin (Native and Forms), UAP & UWP, Android, iOS, ASP.Net MVC, ASP Core and WPF. I have also had a number of apps published across the Windows ecosystem and have supported the entire lifecycle of these products, leveraging the power of Azure to create scalable solutions. My most successful product topped 70,000 downloads in the Windows Phone Marketplace.
</p>

<p>
As a graduate in Forensic Science I have a hard-working and logical approach to any task, adapting ideas to ensure the best results are achieved. Additionally, my background in Customer Service roles always means that UX is at the forefront of anything I do. I am passionate about making sure the products I build are fit for purpose and target their desired audience, but are also maintainable to future developers, as they are also users.
</p>
