<h2>Career objectives</h2>

<p>
    I have a career that brings me new challenges every day and always pushes me to continue learning and evolving. As phones become the defacto device for consuming the majority of content, providing apps to make that experience better is something I love to be a part of.
</p>

<p>
    As an experienced Xamarin Certified developer, I have a wealth of knowledge in the mobile space building apps for small and large companies. With C# as my preferred language, I've never been limited to just Xamarin development, also working on UAP, UWP, Android, iOS, ASP.Net MVC, ASP Core and WPF applications. I've had a number of apps published across the Windows ecosystem supporting them for their entire product lifetime. My most successful product topped 70,000 downloads in the Windows Phone Marketplace.
</p>

<p>
    Graduating university with a degree in Forensic Science I tend to exhibit a hard-working and logical approach to any task, adapting ideas to ensure the best results are achieved. My background in Customer Service roles allows me to empathize with users, meaning UX &amp; design is at the forefront of anything I produce, and I am passionate about making sure the products I build are fit for purpose and target their desired audiences, never forgetting future developers who will also have to maintain the code.
</p>

