<ng-container *ngIf="employmentItems.length > 0">

    <h2>Employment</h2>

    <div *ngFor="let item of employmentItems" class="employment-section" [class.d-print-none]="item.isOmittedInPrint">
        <div class="section-title">
            <div class="title-date">{{item.date}}</div>
            <div class="title-name">
                <span>{{item.employer}}</span>
                <span>&nbsp;-&nbsp;</span>
                <span>{{item.position}}</span>
            </div>
        </div>
        <div class="employment-blurb">
            <p>{{item.overview}}</p>
        </div>

        <div class="employment-skills">
            <div *ngFor="let skill of item.skills" class="skill">
                {{skill}}
            </div>
        </div>
    </div>

</ng-container>