@import "colors";
@import "print.overrides";

.employment-section {
    margin-bottom: 40px;
}

.expand-employment {
    font-size: 1rem;
    color: $mine-shaft;
    float: right;
    display: flex;
    align-items: center;

    cv-toggle-switch {
        margin-left: 10px;
    }
}

@include employment-history-print-overrides();