<h2>Additional qualifications, courses &amp; personal skills</h2>

<div class="skill">Xamarin Certified Developer</div>
<div class="skill">Management skills</div>
<div class="skill">Managing equality & diversity</div>
<div class="skill">Full UK Driving License</div>
<div class="skill">Strong Customer Service</div>
<div class="skill">Logical & efficient problem solver</div>
<div class="skill">Presentation skills</div>
<div class="skill">Youth Leader training</div>
<div class="skill">PADI Rescue diver</div>
