@import 'media';

.project-preview-items {
    align-items: flex-start;

    .project-preview-item {
        margin-bottom: 16px;
        padding-left: 0px;
        padding-right: 0px;

        // @include media-breakpoint-up(xs) {
        //     padding-left: initial;
        //     padding-right: initial;
        //}

        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
        }

        .project-icon {
            img {
                display: block;
                border-radius: 6px;
                width: 64px;

                @include media-breakpoint-up(xs) {
                    border-radius: 10px;
                    width: 80px;
                }

                @include media-breakpoint-up(md) {
                    width: 110px;
                }
            }
        }

        .project-name {
            font-size: 12px;
            text-align: center;
            width: 60px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include media-breakpoint-up(xs) {
                width: 80px;
            }

            @include media-breakpoint-up(md) {
                width: 110px;
            }
        }
    }
}
