<h2>Personal details</h2>

<div class="row no-gutters">
    <div class="col-12 col-lg-6 contact-item">
        <span>Email:&nbsp;</span>
        <span><a href="mailto:cv@adenearnshaw.com" class="plain">cv@adenearnshaw.com</a></span>
    </div>

    <div class="col-12 col-lg-6 contact-item">
        <span>Website:&nbsp;</span>
        <span><a href="https://adenearnshaw.com" class="plain">adenearnshaw.com</a></span>
    </div>

    <div class="w-100"></div>

    <div class="col-12 col-lg-6 contact-item">
        <span>GitHub:&nbsp;</span>
        <span><a href="https://github.com/adenearnshaw" class="plain">github.com/adenearnshaw</a></span>
    </div>

    <div class="col-12 col-lg-6 contact-item">
        <span>LinkedIn:&nbsp;</span>
        <span><a href="https://www.linkedin.com/in/adenearnshaw" class="plain">linkedin.com/in/adenearnshaw</a></span>
    </div>
</div>