<h2>Personal details</h2>

<div>
  <span>Email:&nbsp;</span>
  <span><a href="mailto:opportunities@adenearnshaw.com">opportunities@adenearnshaw.com</a></span>
</div>

<div>
  <span>Website:&nbsp;</span>
  <span><a href="https://adenearnshaw.com">adenearnshaw.com</a></span>
</div>

<div>
  <span>GitHub:&nbsp;</span>
  <span><a href="https://github.com/adenearnshaw">github.com/adenearnshaw</a></span>
</div>

<div>
  <span>LinkedIn:&nbsp;</span>
  <span><a href="https://www.linkedin.com/in/adenearnshaw">linkedin.com/in/adenearnshaw</a></span>
</div>