@import 'print.overrides';

.education-detail {
    padding: 0 14px;

    h3 {
        margin-top: 0px;
    }
}

.education-section {
    margin-bottom: 40px;
}

@include education-history-print-overrides();