<h2>Academic qualifications</h2>

<div class="education-section">
    <div class="section-title">
        <div class="title-date">Jun 2005 - Aug 2008</div>
        <div class="title-name">
            <span>University of Central Lancashire</span>
        </div>
    </div>
    <div class="education-detail">
        <p>BSc(Hons) Forensic Science</p>
        <p>Dissertation: <i>&quot;Factors affecting preliminary identification of mass grave remains, comparing buried and exposed bodies.&quot;</i></p>
    </div>
</div>

<div class="education-section">
    <div class="section-title">
        <div class="title-date">Sep 2003 - Jun 2005</div>
        <div class="title-name">
            <span>Kirkbie Kendal Sixth Form</span>
        </div>
    </div>
    <div class="education-detail">
        <p>A-levels in Biology, Chemistry &amp; Statistics</p>
    </div>
</div>

<div class="education-section">
    <div class="section-title">
        <div class="title-date">Sep 2001 - Jun 2003</div>
        <div class="title-name">
            <span>Kirbie Kendal Secondary School</span>
        </div>
    </div>
    <div class="education-detail">
        <p>9 GCSEs grade A-C</p> 
    </div>
</div>