<cv-header></cv-header>

<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <cv-personal-details></cv-personal-details>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <cv-career-objectives></cv-career-objectives>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <cv-employment-history></cv-employment-history>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">

        </div>
    </div>
</div>