<section class="row">
    <div class="col-12 section-contents">
        <cv-personal-details></cv-personal-details>
    </div>
</section>

<section class="row">
    <div class="col-12 section-contents">
        <cv-career-objectives></cv-career-objectives>
    </div>
</section>

<section class="row d-print-none">
    <div class="col-12 section-contents">
        <cv-project-list-preview></cv-project-list-preview>
    </div>
</section>

<section class="row">
    <div class="col-12 section-contents">
        <cv-employment-history></cv-employment-history>
    </div>
</section>

<div class="page-break"></div>

<section class="row">
    <div class="col-12 section-contents">
        <cv-education-history></cv-education-history>
    </div>
</section>

<section class="row">
    <div class="col-12 section-contents">
        <cv-additional-skills></cv-additional-skills>
    </div>
</section>

<section class="row">
    <div class="col-12 section-contents">
        <h2>Interests</h2>
        <p>When I'm not tinkering with side-projects, helping out at my local user group (DotNetNorth) or maintaining some my open source software, I enjoy spending my free time with friends playing table-top games. I also have a keen interest in music and love playing guitar.</p>
    </div>
</section>

<section class="row ">
    <div class="col 12 section-contents">
        <strong class="d-none d-print-block">To view a portfolio of projects I've been involved in and to see this CV in full, please visit cv.adenearnshaw.com.</strong>
        <strong class="d-block d-print-none">To view the source code for this site, please visit <a href="https://github.com/adenearnshaw/curriculum-vitae">github.com/adenearnshaw/curriculum-vitae</a></strong>
    </div>
</section>

<cv-print-button></cv-print-button>