<header>
    <h1 class="container">
        <div class="row d-none d-lg-flex d-print-flex">
            <div class="col-6 col-lg-auto mr-auto">
                <a [routerLink]="['/']">
                    <img src="/assets/images/header_name.svg" alt="Aden Earnshaw" class="name-image">
                </a>
            </div>
            <div class="col-6 col-lg-auto">
                <img src="/assets/images/header_cv.svg" alt="Curriculum Vitae" class="cv-image">
            </div>
        </div>

        <div class="row d-flex d-lg-none d-print-none mobile-view">
            <div class="col-12">
                <img src="/assets/images/header_name_mobile.svg" alt="Aden Earnshaw" class="name-image">
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <img src="/assets/images/header_cv_mobile.svg" alt="Curriculum Vitae" class="cv-image">
            </div>
        </div>
    </h1>

    <div class="print-button d-print-none" (click)="printWindow()">
        <div class="print-button-content">
            <img src="/assets/images/ic_print.svg" alt="Print" />
            <div>Print</div>
        </div>
    </div>
</header>