@mixin print() {
    @media print {
        @content;
    }
}

@mixin main-print-overrides() {
    @include print() {
        body {
            //width: 21cm;
            background-color: transparent;
        }

        .container {
            width: 100%;
            max-width: 100%;
        }

        .row {
            text-align: justify;
        }

        body {
            font-size: 13px;
            line-height: 1.3;
        }

        h2 {
            font-size: 15px;
            line-height: 1.1;
            margin-bottom: 5px;
            //color: $mine-shaft;
        }

        section {
            margin-bottom: 20px;
        }

        .page-break {
            display: block;
            page-break-before: always;
            height: 30px;
            background-color: transparent;
        }

        .section-title {
            margin-bottom: 4px;
            min-width: 140px;
        }

        .skill {
            font-size: 9px;
            padding: 3px 5px;
            margin: 0 4px 4px 0;
            -webkit-print-color-adjust: exact;
        }
    }
}

@mixin header-print-overrides() {
    @include print() {
        img {
            &.name-image,
            &.cv-image {
                height: 90px;
                width: auto;
                padding: 30px 0 30px 0;
            }

            &.name-image {
                margin-left: 0;
            }

            &.cv-image {
                margin-right: 0;
            }
        }
    }
}

@mixin print-button-print-overrides() {
    @include print() {
        .print-button {
            display: none;
        }
    }
}

@mixin personal-details-print-overrides() {
    @include print() {
        .col-12 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@mixin employment-history-print-overrides() {
    @include print() {
        .employment-section {
            margin-bottom: 15px;
        }

        .expand-employment {
            display: none;
        }
    }
}

@mixin education-history-print-overrides() {
    .education-section {
        margin-bottom: 14px;
    }
}
