@import 'reset';
@import 'bootstrap';
@import 'colors';
@import 'styles.mixins';
@import 'print.overrides';

body {
    background-color: $wild-sand;
    color: $mine-shaft;
    font-size: 1rem;
    line-height: 1.8;
    font-family: 'Segoe UI', SegoeUI, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    color: $persian-red;
}

h3 {
    font-size: 1.2rem;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    @include link-color($persian-red);

    &:focus {
        text-decoration: underline;
        outline: none;
    }

    &.plain {
        @include link-color($mine-shaft);
    }
}

ul {
    list-style: disc;
    
    li {
        margin-left: 24px;
    }
}

strong {
    font-weight: 700;
}

section {
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 14px;

    .title-date {
        display: inline-block;
        font-weight: 600;

        @include media-breakpoint-up(sm) {
            width: 240px;
        }

        @include media-breakpoint-up(lg) {
            width: 300px;
        }
    }

    .title-name {
        display: inline-block;
        font-style: italic;

        @include media-breakpoint-up(sm) {
            text-align: right;
        }

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }
}

.skill {
    font-size: 11px;
    color: lighten($wild-sand, 10%);
    background-color: lighten($mine-shaft, 10%);
    display: inline-block;
    margin: 0 6px 6px 0;
    border-radius: 2px;
    padding: 3px 6px;

    @include media-breakpoint-up(sm) {
        font-size: 12px;
        margin: 0 10px 10px 0;
        padding: 5px 10px;
    }
}

@include main-print-overrides();
