@import "./reset";
@import "./bootstrap";

$wild-sand: #f5f5f5;
$mine-shaft: #212121;

body {
    background-color: $wild-sand;
    color: $mine-shaft;
    font-size: 1rem;
    line-height: 1.4;
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 26px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 10px;
}

a {
    color: $mine-shaft;
    text-decoration: none;

    &:active, &:focus, &:visited {
        color: inherit;
    }

    &:hover {
        color: lighten($mine-shaft, 30%);
    }

    &:focus {
        text-decoration: underline;
        outline: none;
    }
}

.title-date {
    display: inline-block;
    font-weight: 600;

    width: 300px;
}

.title-name {
    display: inline-block;
    font-style: italic;
}