@import 'reset';
@import 'bootstrap';
@import 'colors';

body {
    background-color: $wild-sand;
    color: $mine-shaft;
    font-size: 1rem;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", "Roboto", Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 10px;
}

a {
    color: $mine-shaft;
    text-decoration: none;

    &:active,
    &:focus,
    &:visited {
        color: inherit;
    }

    &:hover {
        color: lighten($mine-shaft, 30%);
    }

    &:focus {
        text-decoration: underline;
        outline: none;
    }
}

.section-title {
    margin-bottom: 10px;

    .title-date {
        display: inline-block;
        font-weight: 600;

        width: 300px;
    }

    .title-name {
        display: inline-block;
        font-style: italic;
    }
}
